body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#video-container iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#video-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
